#ref_list { /* базовый класс для вывода контента справочника */
    height: 500px;
    width: 99%;
    border: 1px solid gray;
    overflow-y: scroll;
}
.centred_cell, th {
    text-align: center;
}

/* глобальные классы show/hide */
.global_display {
    display: block;
}
.global_hide {
    display: none;
}

/* класс текстарии */
textarea {
    resize: none;
    /* min-width: 267px;
min-height:150px;
max-width: 267px;
max-height:150px; */
}

.span_is_es { /* класс для галочки "редколлегия" */
    white-space: nowrap;
}

.button-large {
    height: 60px;
}