<div class="article-content">
    <fieldset>
        <button class="action-download-pdf download-pdf-button" data-href="core/get.file.php?id={*article_pdfid*}" data-text="Show PDF">
            <img class="icon-pdf-32x32" width="32" height="32">Завантажити PDF
        </button>
        <div class="article-title">
            {*article_title*}
        </div>
    </fieldset>
    {?*article_abstract*}
    <fieldset>
        <legend>Аннотацiя: </legend>
        <div class="article-abstact">
            {*article_abstract*}
        </div>
    </fieldset>
    {?}
    {?*article_authors_list*}
    <fieldset>
        <legend>Автори:</legend>
        <ol class="article-authors-list">
            {%*article_authors_list*}
            <li>
                <a href="?fetch=authors&with=info&id={*article_authors_list:author_id*}&lang={*site_language*}">
                    {*article_authors_list:author_name*}</a> {*article_authors_list:author_title*}
                {?*article_authors_list:author_email*}<em>( {*article_authors_list:author_email*} )</em>{?}
            </li>
            {%}
        </ol>
    </fieldset>
    {?}
    {?*article_keywords*}
    <fieldset>
        <legend>Ключовi слова:</legend>
        <div class="article-keywords">
            {*article_keywords*}
        </div>
    </fieldset>
    {?}

    {?*article_doi*}
    <fieldset>
        <legend>DOI</legend>
        <div class="article-doi">{*article_doi*}</div>
    </fieldset>
    {?}

    {?*article_refs*}
    <fieldset>
        <legend>Список лiтератури:</legend>
        <div class="article-references">
            {*article_refs*}
        </div>
    </fieldset>
    {?}

    <fieldset>
        <legend>Опублiковано:</legend>
        <div class="article-published">
            {*article_book_title*}, {*article_book_year*}
        </div>
    </fieldset>

    <fieldset>
        <legend>Остання загрузка:</legend>
        <div class="article-last-download">
            {*article_pdf_last_download_date*}
        </div>
    </fieldset>
</div>
