.authorslist {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin:0;
}
.authorslist > li > label {
    padding-right: 1em;
}
legend {
    color: navy;
    font-weight: bold;
}
.button-large {
    height: 60px;
}
.download-pdf {
    background-image:url('../css/pdf48x48.png');
    width:50px;
    height:50px;
}
.edit_button {
    background-image: url('../css/edit48x48.png');
    width:50px;
    height:50px;
}
button {
    padding: 0;
    margin: 0;
}