body {
    font-size:14pt;
}

.field {
    clear:both;
    text-align:right;
    line-height:30px;
}

label {
    float:left;
    padding-right:35px;
}

.fields_area {
    float:left;
    clear:both;
}

img {
    vertical-align: middle;
}

.clear {
    clear:both;
}

input[type='file'] {
    border: 1px solid black;
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
}
