.news-list {
    list-style-type: disc;
    padding: 0;
    margin: 0;
}
.news-list-item {
    display: inline-table;
    width:100%;
    margin: 0;
}
.news-list-item-date {
    display: inline-table;
    float: left;
    max-width: 30%;
    width: 30%;
    background-color: #f0fff0;
    font-weight: bold;
    text-align: center;
    height: 100%;
}
.news-list-item-title {
    display: inline-block;
    float: right;
    max-width: 70%;
    width: 70%;
    background-color: #fffff0;
    font-size: larger;
}