# Project

VERSION = ''
ENGINE.USE_LANG_DEPENDED_BOOK_TITLE = 0
PATH.INSTALL = ''

# Cookies & session
COOKIE.SITE_LANGUAGE = 'aait_sitelanguage'
COOKIE.PREFIX = 'u_aait'

# Database

DB.DRIVER = 'mysql'
DB.HOST = 'localhost'
DB.PORT = 3306
DB.USERNAME = ''
DB.PASSWORD = ''
DB.NAME = ''

# KW Logger
LOG.TABLE_EVENT = 'eventlog'
LOG.TABLE_DOWNLOAD = 'eventlog_download'
LOG.ERRFILE = '$/core/config/errors.log'

# Theme
TEMPLATE.NAME = 'template.aait'
TEMPLATE.DIR = 'template.aait'
TEMPLATE.FRONTPAGE_PAGE_TITLE = 'AAIT.OPU.UA'
TEMPLATE.FRONTPAGE_HAVE_LAST_BOOK = 0

# Storage
STORAGE.SQL_TABLE = 'filestorage'
STORAGE.ROOT = 'files.aait'
STORAGE.EDITOR_UPLOAD = '${STORAGE_ROOT}/upload'
STORAGE.EDITOR_THUMBS = '${STORAGE_ROOT}/thumbs'
STORAGE.FILES = '${STORAGE_ROOT}/storage'
STORAGE.MAX_UPLOAD_SIZE = '4M'
STORAGE.DRIVER = 'disk'

# Backend

ADMIN.CALLBACK_TIMEOUT = 3600

# Frontend

ASSETS.MODE = 'development'

# DEBUG

IS_REPORT_PROCESS_STATS = 0


