<fieldset class="author-about">
    <legend>Информацiя про автора</legend>
    <div class="photo_div">
        <img src="{*author_photo_link*}" width="150" height="200" class="photo">
    </div>
    <div id="author_info">
        <p class="author_name">{*author_name*}</p>
        <p class="author_title">{*author_title*}</p>
        {?*author_email*}<p><span class="author_email">E-Mail: </span>{*author_email*}</p>{?}
        {?*author_orcid*}<p><span class="author_orcid">ORCID: </span><a href="https://orcid.org/{*author_orcid*}" target="_blank">{*author_orcid*}</a></p>{?}
        <p class="author_workplace">{*author_workplace*}</p>
    </div>
</fieldset>

{?*author_bio*}
<fieldset class="author_bio">
    <legend>Біографія</legend>
    <span class="author_bio">{*author_bio*}</span>
</fieldset>
{?}

{?*author_publications*}
<fieldset class="author-publications">
    <legend>Публiкацiï</legend>
    <div id="articles_list">
        <table class="articles-by-author-table">
            {%*author_publications*}
            <tr>
                <td class="articles-by-author-table-book-title">
                    <nobr>{*author_publications:btitle*}</nobr>
                </td>
                <td rowspan="2" class="articles-by-author-table-pdficon">
                    <a href="core/get.file.php?id={*author_publications:pdfid*}"><img class="icon-pdf-32x32" width="32" height="32" alt=""></a>
                </td>
                <td rowspan="2" class="articles-by-author-table-title">
                    <a href="?fetch=articles&with=info&id={*author_publications:aid*}">{*author_publications:atitle*}</a>
                </td>
            </tr>
            <tr>
                <td class="articles-by-author-table-book-year">{*author_publications:bdate*}</td>
            </tr>
            {%}

            {?!*author_publications*}<tr><td colspan="3">У автора нет статей</td></tr> {?}
        </table>
    </div>
</fieldset>
{?}