/* Список сборников СПРАВА на странице ======================================== */
/* заголовок */
.books-list-header {
    font-size:125%;
    color:navy;
    padding: 5px 20px 10px 5px;
    margin: 0;
    font-weight: bold;
    display: block;
}
/* общий класс */
.books-list > ul {
    margin: 0;
    padding: 0;
}
/* класс заголовка года */
.books-list-year {}
/* блок: сборники по году */
.books-list-year > ul {}
/* li-элемент с каждым сборником(книгой) */
.books-list-eachbook {
    font-size: small;
    text-indent: -20px;
}
/* ==================================== END =================================== */
