div, .news-item {
    border: 0px solid black;
}
.news-title {
    display: table-cell;
    float: left;
    max-width: 80%;
    width: 80%;
    background-color: #f0fff0;
    font-weight: bold;
    font-size: 125%;
}
.news-date {
    display: table-cell;
    float: right;
    max-width: 20%;
    width: 20%;
    background-color: #fffff0;
    text-align: center;
    font-size: larger;
    height: 100%;
}
.news-text {
    clear: both;
    /* background-color: #f5fffa; */
    padding-top: 15px
}