<span class="static-page-content">
    {* + ../static/page__static.ru.html*}
</span>

<hr>
{?*last_book*}
<h3 class="last-book-title">Последний выпуск журнала <br> {*last_book.title*}, {*last_book.year*} год.</h3>
<fieldset class="books-extended-info">
    <ul>
        <li>
            <a href="core/get.image.php?id={*last_book.file_cover*}" class="icon-jpg icon lightbox-image">
                <img src="/{*template_folder*}/_assets/images/books_file_cover.jpg"><br>Обложка</a>
        </li>
        <li>
            <a href="core/get.file.php?id={*last_book.file_title_ru*}" class="icon-pdf icon">
                <img src="/{*template_folder*}/_assets/images/books_file_title.jpg"><br>Титульный лист</a>
        </li>
        <li>
            <a href="core/get.file.php?id={*last_book.file_toc_ru*}" class="icon-pdf icon">
                <img src="/{*template_folder*}/_assets/images/books_file_toc.jpg"><br>Содержание</a>
        </li>
    </ul>
</fieldset>
{?}
<br>
/* `last_book_content` identical with `articles/extended/ajax.articles__extended.ru.html` template */

{* + ../../_main_ajax_templates/ajax.articles__extended.ru.html *}