.news-item {
    font-family: "PT Serif",Georgia,"Times New Roman",Times,serif;
    border: 0 solid black;
    word-spacing: 0;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: start;
    text-indent: 0;
    vertical-align: baseline;
    letter-spacing: normal;
}

.news-date {
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    text-align: left;
    margin-bottom: 1em;
    color: #959595;
    font-size: 18px;
    line-height: 1em;
    font-weight: normal;
}

.news-title {
    color: #151515;
    font-size: x-large;
    line-height: 1em;
    font-weight: 700;
    padding-bottom: 8px;
    border-bottom: 1px solid #151515;
}

.news-text {
    padding-top: 24px;
    color: #444444;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: normal;
}