#button-remove { /* класс по умолчанию для скрытой кнопки удаления */
    display: none;
}
#_es_fieldset {
    display: none;
}

form.inline_form {
    display: inline;
}

/* Классы оформления элементов в выводе (all authors list) */
.aal-author-name {
    font-weight: bold;
    color: navy;
}
.aal-author-info {
    /* font-size: smaller; */
    font-style: italic;
}

/* этот класс добавляется к ссылке на фото, если передаваемы id = -1 */
.action-aal-no-photo {
    text-decoration: none;
    color: transparent;
    cursor: default;
}
