.button-large { /* класс для большой кнопки */
    height: 60px;
}
#button-remove { /* класс по умолчанию для скрытой кнопки удаления */
    display: none;
}
#wait {  /* класс для области вывода таймера */
    color: red;
    font-weight: bold;
}
.button-huge { /* огромная кнопка для таймера*/
    height: 120px;
    width:400px;
}
.info { /* класс для информационного сообщения */
    color: #7b68ee;
    font-weight: bold;
}