#button-remove { /* класс по умолчанию для скрытой кнопки удаления */
    display: none;
}
#_es_fieldset {
    display: none;
}

form.inline_form {
    display: inline;
}

/* Классы оформления элементов в выводе (all authors list) */
.aal-author-name {
    font-weight: bold;
}
.aal-author-info {
    // font-size: smaller;
    font-style: italic;
}
