@import url("main.reset.css");
@import url("main.logo.css");
@import url("main.rubrics.css");
@import url("main.books.css");

/* modules styles */

@import "main.articles.books.css"; /*  ?fetch=articles&with=book&id=...   */
@import "main.authors.info.css"; /* /authors/info/N */
@import "main.articles.extended.css"; /* articles/extended/N */
@import "main.authors.estuff.css"; /* authors/estuff/ */
@import "main.authors.list.css"; /* authors/list/ */

#main_content { /*контейнер с контентом*/

}

/* классы (полного) списка авторов (Load authors by letter) */
.authors-list {
    list-style-type: disc;
}

/* search selectors */
.search_selector {
    width: 200px;
}


/* оформление search results */
fieldset.search_results {
    padding-left: 2px;
    padding-right: 2px;
}
.search_results > legend {
    margin-left: 5px;
    margin-right: 5px;
}

/* класс UL для списка ВСЕХ статей в сокращенной нотации */
.articles-list-full {
    list-style-type: disc;
}