@import url("main.rubrics.css");
@import url("main.books.css");
@import url("main.banners.css");

/* modules styles */

#main_content { /*контейнер с контентом*/ }

/* search selectors */
.search_selector {
    width: 200px;
}

/* оформление search results */
fieldset.search_results {
    padding-left: 2px;
    padding-right: 2px;
}
.search_results > legend {
    margin-left: 5px;
    margin-right: 5px;
}

/* класс UL для списка ВСЕХ статей в сокращенной нотации */
.articles-list-full {
    list-style-type: disc;
}

/* LOGO Classes ======= @import url("main.logo.css"); ====================================================== */
.t-logo-title { /* text-transform: uppercase; */ }
.logo-title {
    font-weight: bold;
    font-size: 200%;
    color: navy;
    font-style: italic;
}
/* ==================================== END =================================== */

/* Last two news classes ====================================================== */
.last-two-news {
    list-style-type:none;
    padding: 5px 5px 0 0;
    margin: 0;
}
.last-two-news li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
}
.last-two-news li strong {
    float: right;
}
.last-two-news li a {
    text-decoration: none;
    color: blue;
}
.last-two-news li a:hover {
    border-bottom: 1px dotted red;
}
.last-two-news li a:visited {
    color: navy;
}
/* ==================================== END =================================== */
